<%- include('header') %>

<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <form class="ui form segment" method="post" enctype="multipart/form-data">
      <div class="field required">
        <label>用戶名</label>
        <input type="text" placeholder="用戶名" name="name">
      </div>
      <div class="field required">
        <label>密碼</label>
        <input type="text" placeholder="密碼" name="password">
      </div>
      <div class="field required">
        <label>確認密碼</label>
        <input type="text" placeholder="確認密碼" name="repassword">
      </div>
      <div class="field required">
        <label>性別</label>
        <select name="gender" class="ui compact selection dropdown">
          <option value="m">男</option>
          <option value="f">女</option>
          <option value="x">保密</option>
        </select>
      </div>
      <div class="field required">
        <label>頭像</label>
        <input type="file" name="avatar">
      </div>
      <div class="field required">
        <label>個人簡介</label>
        <textarea name="bio" rows="5"></textarea>
      </div>
      <input type="submit" class="ui button fluid" value="註冊">
    </form>
  </div>
</div>

<%- include('footer') %>
